@page "/concerts"


<h3>ConcertList</h3>


<h2 class="alert alert-danger">@Price2</h2>

@foreach (var concert in Concerts)
{
    <ConcertCard Id="@concert.Id"
                 Name="@concert.Name"
                 Price="SetPrice" />
}



@code {
    private List<Concert> Concerts;
    private decimal Price2 { set; get; }

    private async Task SetPrice(decimal price)
    {
        Price2 = price;
    }

    protected override async Task OnInitializedAsync()
    {
        // call get api/concert
        Concerts = new List<Concert>() { new Concert() { Id = 1, Name = "name 1" }, new Concert() { Id = 2, Name = "name 2" } };

        StateHasChanged();
    }
}
