@page "/employee/create"
@using System.Text.Json
@using System.Text
@using static System.Net.Mime.MediaTypeNames


<form>
    Name:
    <input @bind-value="employee.Name" placeholder="Name" type="text" />

    Salary:
    <input @bind-value="employee.Salary" placeholder="Salary" type="text" />

    Age:
    <input @bind-value="employee.Age" placeholder="Age" type="text" />

    <button @onclick="(() => Save())">send</button>
</form>


@code {
    private Createemployee employee = new();

    private async Task Save()
    {
        var body = new StringContent(
           JsonSerializer.Serialize(employee),
           Encoding.UTF8,
           Application.Json);

        var a = await Http
            .PostAsync("https://dummy.restapiexample.com/api/v1/create", body);
    }
}
